body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
        width: 1366px;
        height: 625px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
        width: 400px;
        height: 400px;
        position: relative;
        top: -150px;
        left: 200px;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

#top-form{
    margin-top: 40px;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

#key{
    height: 30px;
    width: 30px;
}

#inputPhoneNumberAndReceiveCode{
    padding-left: 160px;
}

label{
    font-weight: bold;
}

#login-img{
    width: 250px;
    height: 70px;
    position: relative;
    left: 70px;
}

.sidenav{
    font-size: 70px;
    text-align: center;
}

.login-main-text{
    position: relative;
    top: -50px;
}

.error-message{
    color: red;
    font-size: 15px;
    font-style: italic;
}

.error-messages{
    margin-top: 30px;
}