.areaHeader{
    height: 38px;
    background-color: blue;
}
#clock{
    position: absolute;
    top: 1%;
    display: inline;
    font-weight: bold;
    color: aliceblue;
}
#inf-staff{
    position: absolute;
    right: 8%;
    top: 1%;
    color: aliceblue;
}
#btn-logout{
    float: right;
}

.areaTables{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
}
#nameTable{
    position: relative;
    text-align: center;
    font-weight: bold;
}

.error-message{
    color: red;
    font-size: 15px;
    font-style: italic;
}